# Chapter 1 - First Python Programming

## 1[a] Hello World

In [ ]:
print('AI is session is going good for now.')

AI is session is going good for now.

In [ ]:
print("Amrutha replied,John's session is bit boring.")

Amrutha replied,John's session is bit boring.

In [ ]:
print("""Amrutha replied,"John's session is bit boring".""")

Amrutha replied,"John's session is bit boring".

## 1[b] Create a Variable

In [ ]:
participants = ['Amrutha','Bhupendra','Jamuna','Khushbu','Mukesh','Shefalie']
participants

['Amrutha', 'Bhupendra', 'Jamuna', 'Khushbu', 'Mukesh', 'Shefalie']

In [ ]:
len(participants)

6

In [ ]:
participants[4:]

['Mukesh', 'Shefalie']

### NOTE: Index Number in Python starts with 0.

## ========================================================================

# Chapter 2 - Strings and String Methods

### 3 datatypes in Python

1. Int - Integer - numbers without decimal
2. Float - with decimal numbers
3. String - anything which is enclosed within quotes.

## 2[a] What is a String?

In [ ]:
india_score = 368

In [ ]:
type(india_score)

int

In [ ]:
avg_marks = '96.55'

In [ ]:
type(avg_marks)

str

In [ ]:
avg_marks_2 = 96.55

In [ ]:
type(avg_marks_2)

float

## 2[b] Concatenation - Indexing - Slicing

In [ ]:
fname = 'Mukesh'
mid_name = 'avatar'
lname = 'Madesia'

In [ ]:
print(fname)
print(mid_name)
print(lname)

Mukesh
avatar
Madesia

In [ ]:
fname,mid_name,lname

('Mukesh', 'avatar', 'Madesia')

In [ ]:
fname + lname

'MukeshMadesia'

In [ ]:
print(fname + ' ' + lname) #Concatenation

Mukesh Madesia

In [ ]:
print(fname + ' ' + mid_name + ' ' + lname + '.')

Mukesh avatar Madesia.

In [ ]:
fname = 'Mukesh'
mid_name = 'avatar'
lname = 'Madesia'
age = 35

In [ ]:
print('The name is ' + fname + ' ' + mid_name + ' ' + lname + ' and age is ' + str(age)) #Typecasting

The name is Mukesh avatar Madesia and age is 35

In [ ]:
print('The name is',fname,mid_name,lname,'and age is',age)

The name is Mukesh avatar Madesia and age is 35

In [ ]:
trainer_feedback = 'Shefalie and Khushbu are quick learners.'
trainer_feedback

'Shefalie and Khushbu are quick learners.'

In [ ]:
trainer_feedback[4:]

'alie and Khushbu are quick learners.'

In [ ]:
trainer_feedback[4:10]

'alie a'

## 2[c] Manipulate string with string methods

**Methods/Functions** - It is an operation getting applied on the variable and it always ends with **().**

In [ ]:
learner_1 = 'amrutha'
learner_2 = '     natarajan'
learner_3 = 'Jamuna       '
learner_4 = '     bhupendra     '

In [ ]:
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

(7, 14, 13, 19)

In [ ]:
learner_1 = learner_1.capitalize()
learner_2 = learner_2.lstrip()
learner_3 = learner_3.rstrip()
learner_4 = learner_4.strip()

In [ ]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Amrutha
natarajan
Jamuna
bhupendra

# NOTE : DONT USE KEYWORD as a VARIABLE NAME.

In [ ]:
str =' Hi Hello'
str #Keyword

' Hi Hello'

### TASK 1: Come up with 2 examples for all string functions.

## 2[d] Interact with user-input

In [ ]:
user_name = input('Username:')
print('First Letter starts with ',user_name[0])

## 2[e] Get 2 inputs from the user and display it.

In [ ]:
name=input('username:')
age=input('age:')
print('name is ',name, ',age is ',age)

In [ ]:
name=input('Username:')
age=input('Age:')
print('Name is {} and Age is {}.'.format(name,age))

## =======================================================================

# Chapter 3 - Numbers in Python

In [ ]:
user_marks = int(input('Enter your marks : '))
print('The marks is ',abs(user_marks))

Enter your marks : -100
The marks is  100

## =======================================================================

# Chapter 4 - Functions and loops

There are 3 functions in Python:

**1. Built-in function** - predefined functions that automatically comes when you install Anaconda Navigator.

**2. Userdefined function** - user given function to accomplih a task.

**3. Anonymous function** - nameless function used to perform one operation at once.

## 4[a] Write your own functions

In [ ]:
#Function defintion
def get_data():
    print('Hi')
    print('Welcome')

In [ ]:
#Calling a function
get_data()

Hi
Welcome

### Positional Arguments

In [ ]:
def get_2_numbers(num1,num2): #Argument
    return num1+num2

In [ ]:
get_2_numbers(4,7) #Parameters

11

In [ ]:
def get_2_numbers(num1,num2): #Argument
    print(num1) 
    print(num2)
    return num1+num2 #Termination point to afunction defintion

In [ ]:
get_2_numbers(4,7)

4
7

11

### Default Parameter

In [ ]:
def get_emp_details_2(emp_no,ename,age,company = 'Google'):
    print("***************************************************************")
    print('Employee ID   : ',emp_no)
    print('Employee Name : ',ename)
    print('Age           : ',age)
    print('Workplace     : ',company)
    print("***************************************************************")

In [ ]:
get_emp_details_2(1,'Natarajan',23)

***************************************************************
Employee ID   :  1
Employee Name :  Natarajan
Age           :  23
Workplace     :  Google
***************************************************************

In [ ]:
get_emp_details_2(2,'Shefali',25)

***************************************************************
Employee ID   :  2
Employee Name :  Shefali
Age           :  25
Workplace     :  Google
***************************************************************

In [ ]:
get_emp_details_2(3,'Amrutha',27)

***************************************************************
Employee ID   :  3
Employee Name :  Amrutha
Age           :  27
Workplace     :  Google
***************************************************************

In [ ]:
get_emp_details_2(4,'Khusbhu',26,'Microsoft')

***************************************************************
Employee ID   :  4
Employee Name :  Khusbhu
Age           :  26
Workplace     :  Microsoft
***************************************************************

### Variable-length Argument

In [ ]:
def get_emp_details_3(emp_no,ename,age,*company):
    print("***************************************************************")
    print('Employee ID   : ',emp_no)
    print('Employee Name : ',ename)
    print('Age           : ',age)
    print('Workplace     : ',company)
    print("***************************************************************")

In [ ]:
get_emp_details_3(1,'Natarajan',23,'Google','IBM','Microsoft')

***************************************************************
Employee ID   :  1
Employee Name :  Natarajan
Age           :  23
Workplace     :  ('Google', 'IBM', 'Microsoft')
***************************************************************

### Keyword- Argument

In [ ]:
def get_emp_details_4(emp_no,ename,age,**company):
    print("***************************************************************")
    print('Employee ID   : ',emp_no)
    print('Employee Name : ',ename)
    print('Age           : ',age)
    print('Workplace     : ',company)
    print("***************************************************************")

In [ ]:
get_emp_details_4(1,'Natarajan',23,company_1 = 'Google',company_2 = 'IBM',company_3 = 'Microsoft')

***************************************************************
Employee ID   :  1
Employee Name :  Natarajan
Age           :  23
Workplace     :  {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
***************************************************************

### Having Variable-length and Keyword Argument in one function

In [ ]:
def get_emp_details_5(emp_no,age,*ename,**company):
    print("***************************************************************")
    print('Employee ID   : ',emp_no)
    print('Employee Name : ',ename)
    print('Age           : ',age)
    print('Workplace     : ',company)
    print("***************************************************************")

In [ ]:
get_emp_details_5(1,23,'Natarajan','Bhupendra','jamuna',company_1 = 'Google',company_2 = 'IBM',company_3 = 'Microsoft')

***************************************************************
Employee ID   :  1
Employee Name :  ('Natarajan', 'Bhupendra', 'jamuna')
Age           :  23
Workplace     :  {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
***************************************************************

## 4[b] Run in circles

In [ ]:
for i in range(1,21,2):
    print(i)
    print(i*i)
    print('----------------')

1
1
----------------
3
9
----------------
5
25
----------------
7
49
----------------
9
81
----------------
11
121
----------------
13
169
----------------
15
225
----------------
17
289
----------------
19
361
----------------

## =======================================================================